<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acerca</title>
  </head>
  <body>
    {% extends 'base.html'%} {%block content%}
    <h1>Sobre nosotros</h1>
    <p>
      En nuestra página de venta de postres, te invitamos a descubrir una
      variedad deliciosa de flanes y otros dulces.<br />
      Desde el clásico flan de vainilla hasta innovadoras creaciones, cada
      postre es elaborado con ingredientes de alta calidad. Perfectos para
      cualquier ocasión, nuestros postres prometen satisfacer tu paladar y
      dejarte con ganas de más. ¡Explora nuestras opciones y endulza tu día!
    </p>
    {% endblock %}
  </body>
</html>
